name: devenv tests

on:
  push:
  pull_request:

jobs:
  unittests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31.4.1
      - run: |
          nix profile install github:NixOS/nixpkgs#devenv
          devenv shell -- devenv test
